body {
  font-size: 17px;
}

#navbarSupportedContent ul li a:hover {
  color: #6e07f3;
  font-weight: 600;
}

#navButton {
  border-radius: 25px;
  border: 2px solid #6e07f3;
  color: #6e07f3;
  font-size: 17px;
}

#navButton:hover {
  background-color: #6e07f3;
  color: white;
  font-weight: 600;
}

#navButtonConnect {
  border-radius: 25px;
  border: 2px solid #6e07f3;
  color: #6e07f3;
  padding: 7px 25px 7px 25px;
  font-size: 20px;
}

#navButtonConnect:hover {
  background-color: #6e07f3;
  color: white;
  font-weight: 600;
}

#navButtonFooter {
  border-radius: 45px;
  border: 2px solid #56dbb1;
  color: white;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
}

#navButtonFooter:hover {
  background-color: #56dbb1;
  color: black;
  font-weight: 600;
}

#heroTitle {
  font-size: 48px;
  font-weight: 600;
}

#fontFam {
  font-family: "Teko", sans-serif;
  font-weight: 700;
}

#heroPage {
  margin-top: 100px;
}

#about {
  background-color: #6e07f3;
}

#marginTop {
  margin-top: 125px;
  font-size: 20px;
  margin-bottom: 125px;
  line-height: 30px;
  font-weight: 100;
}

#marginTopOuter {
  margin-top: 125px;
  margin-bottom: 125px;
}

#experienceCard {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.half-height-background {
  background: linear-gradient(to bottom, #6e07f3 155px, #ffffff 155px);
}

.half-height-backgroundforWork {
  background: linear-gradient(to bottom, #6e07f3 450px, #ffffff 450px);
}

.half-height-backgroundforFooter {
  background: linear-gradient(to bottom, #ffffff 65px, #6e07f3 65px);
}

#projectBtn {
  background-color: #ebf5ff;
  padding: 7px 13px 7px 13px;
  border-radius: 5px;
  color: #6e07f3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
  border-radius: 2px;
}

#footerMargin {
  margin-top: 100px;
  margin-bottom: 30px;
}

#footerBlackcontent {
  border-radius: 15px;
  background-color: #141c3a;
  padding: 40px 120px 40px 120px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#workCard {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
}

#social li {
  display: inline-block;
  list-style-type: none;
}

.linkedin .borderlinkedin {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.linkedin .borderlinkedin:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-linkedin {
  font-size: 22px;
}

.facebook .borderFacebook {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.facebook .borderFacebook:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-facebook {
  font-size: 22px;
}

.twitter .borderTwitter {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.twitter .borderTwitter:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-twitter {
  font-size: 22px;
}

.instagram .borderInsta {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.instagram .borderInsta:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-instagram {
  font-size: 22px;
}

.dribbble .borderDribble {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.dribbble .borderDribble:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-dribbble {
  font-size: 22px;
}

.form-control {
  border-color: transparent;
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgb(100 255 218);
}
