body {
  font-size: 17px;
}

#navBrand {
  color: #6e07f3;
  font-size: 32px;
  font-weight: 600;
}

#navbarSupportedContent ul li a:hover {
  color: #6e07f3;
  font-weight: 600;
}

#navButton {
  border-radius: 25px;
  border: 2px solid #6e07f3;
  color: #6e07f3;
  font-size: 17px;
}

#navButton:hover {
  background-color: #6e07f3;
  color: white;
  font-weight: 600;
}

#navButtonConnect {
  border-radius: 25px;
  border: 2px solid #6e07f3;
  color: #6e07f3;
  padding: 7px 25px 7px 25px;
  font-size: 20px;
}

#navButtonConnect:hover {
  background-color: #6e07f3;
  color: white;
  font-weight: 600;
}

#navButtonAbout {
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  padding: 7px 25px 7px 25px;
  font-size: 20px;
}

#navButtonAbout:hover {
  background-color: white;
  color: #6e07f3;
  font-weight: 600;
}

#navbarToggler {
  border: transparent;
}

#navbarToggler:focus {
  border: transparent;
  box-shadow: none;
}

#navButtonFooter {
  border-radius: 45px;
  border: 2px solid #56dbb1;
  color: white;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
}

#navButtonFooter:hover {
  background-color: #56dbb1;
  color: black;
  font-weight: 600;
}

#heroTitle {
  font-size: 48px;
  font-weight: 600;
}

#heroTopMargin {
  margin-top: 100px;
}

#fontFam {
  font-weight: 700;
  font-size: 32px;
}

#fontFamFooter {
  font-size: 18px;
}

#heroPage {
  margin-top: 100px;
}

#aboutBcakground {
  background-color: #6e07f3;
}

#marginTop {
  margin-top: 125px;
  font-size: 20px;
  margin-bottom: 125px;
  line-height: 30px;
  font-weight: 100;
}

#marginTopOuter {
  margin-top: 125px;
  margin-bottom: 125px;
}

#experienceCard {
  border-radius: 15px;
}

#experienceBtn {
  transition: all 0.3s ease-in-out;
  color: #56dbb1;
}

#experienceBtn:hover {
  transform: translateY(-5px);
}

#skillsCard {
  line-height: 30px;
}

.half-height-background {
  background: linear-gradient(to bottom, #6e07f3 155px, #ffffff 155px);
}

.half-height-backgroundforWork {
  background: linear-gradient(to bottom, #6e07f3 450px, #ffffff 450px);
}

.half-height-backgroundforFooter {
  background: linear-gradient(to bottom, #ffffff 65px, #6e07f3 65px);
}

#projectBtn {
  background-color: #bcf1e0;
  padding: 7px 13px 7px 13px;
  border-radius: 5px;
  color: #141c3a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
  border-radius: 2px;
}

#footerMargin {
  margin-top: 100px;
  margin-bottom: 30px;
}

#footerBlackcontent {
  border-radius: 15px;
  background-color: #141c3a;
  padding: 45px 10px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#success {
  color: #56dbb1;
  display: none;
  animation: 3s linear;
}

#workCard {
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  padding: 22px;
}

#workCard:hover .card-title {
  color: #6e07f3;
}

#workCard:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 23px 25px -28px rgba(0, 0, 0, 0.45);
}

.projectSkills {
  font-family: "Oxygen", monospace;
  word-spacing: 15px;
  font-size: 12.5px;
  margin-top: 50px;
}

#workCard:hover .projectSkills {
  color: #6e07f3;
}

#social li {
  display: inline-block;
  list-style-type: none;
}

#social li {
  margin-right: 20px;
}

.linkedin .borderlinkedin {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.linkedin .borderlinkedin:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-linkedin {
  font-size: 22px;
}

.github .bordergithub {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.github .bordergithub:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-github {
  font-size: 22px;
}

.twitter .borderTwitter {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.twitter .borderTwitter:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-twitter {
  font-size: 22px;
}

.instagram .borderInsta {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.instagram .borderInsta:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-instagram {
  font-size: 22px;
}

.dribbble .borderDribble {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.dribbble .borderDribble:hover {
  background-color: white;
  color: #6e07f3;
}

.bi.bi-dribbble {
  font-size: 22px;
}

body .form-control:focus {
  box-shadow: 0 0 0 0.1rem #56dbb1;
  border: #56dbb1;
}

#loaderText {
  margin-top: 15px;
  font-size: 15px;
}

@media (max-width: 576px) {
  #loaderText {
    font-size: 10px;
    margin-top: 25px;
  }

  #heroTitle {
    font-size: 35px;
  }

  #navBrand {
    font-size: 25px;
  }

  #heroPage {
    width: 312px;
    height: 126px;
  }

  #break::after {
    content: "\a";
    white-space: pre;
  }

  .half-height-background {
    background: linear-gradient(to bottom, #6e07f3 110px, #ffffff 110px);
  }

  .half-height-backgroundforWork {
    background: linear-gradient(to bottom, #6e07f3 550px, #ffffff 550px);
  }

  #social li {
    margin-right: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #heroPage {
    width: 550px;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #heroPage {
    width: 700px;
    height: 300px;
  }
}

@media (max-width: 992px) {
  #experienceCard {
    margin-bottom: 20px;
  }

  #workCard {
    margin-bottom: 20px;
  }

  #navbarSupportedContent ul li a {
    text-align: center;
  }

  #navButton {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #fontFam {
    margin-bottom: 30px;
  }

  #navButtonFooter {
    margin-top: 30px;
  }
}
